DEVICE={{ item.device }}
{% if 'bootproto' in item %}
BOOTPROTO={{ item.bootproto }}
{% else %}
BOOTPROTO=none
{% endif %}
{% if 'ipv6init' in item %}
IPV6INIT={{ item.ipv6init }}
{% else %}
IPV6INIT=yes
{% endif %}
{% if 'defroute' in item %}
DEFROUTE={{ item.defroute }}
{% endif %}
{% if 'domain' in item %}
DOMAIN={{ item.domain }}
{% endif %}
{% if 'ipv4_failure_fatal' in item %}
IPV4_FAILURE_FATAL={{ item.ipv4_failure_fatal }}
{% endif %}
{% if 'ipv6_addr_gen_mode' in item %}
IPV6_ADDR_GEN_MODE={{ item.ipv6_addr_gen_mode }}
{% endif %}
{% if 'ipv6_autoconf' in item %}
IPV6_AUTOCONF={{ item.ipv6_autoconf }}
{% endif %}
{% if 'ipv6_defroute' in item %}
IPV6_DEFROUTE={{ item.ipv6_defroute }}
{% endif %}
{% if 'ipv6_failure_fatal' in item %}
IPV6_FAILURE_FATAL={{ item.ipv6_failure_fatal }}
{% endif %}
{% if 'ipv6_peerdns' in item %}
IPV6_PEERDNS={{ item.ipv6_peerdns }}
{% endif %}
{% if 'ipv6_peerroutes' in item %}
IPV6_PEERROUTES={{ item.ipv6_peerroutes }}
{% endif %}
{% if 'name' in item %}
NAME={{ item.name }}
{% endif %}
{% if 'uuid' in item %}
UUID={{ item.uuid }}
{% endif %}
{% if 'mtu' in item and item['mtu'] %}
MTU={{ item.mtu }}
{% endif %}
ONBOOT=yes
{% if 'networkmanager' in item %}
NM_CONTROLLED={{ item.networkmanager }}
{% endif %}
{% if 'ip' in item %}
IPADDR={{ item.ip }}
{% endif %}
{% if 'netmask' in item %}
NETMASK={{ item.netmask }}
{% endif %}
{% if 'prefix' in item %}
PREFIX={{ item.prefix }}
{% endif %}
{% if 'devicetype' in item %}
DEVICETYPE={{ item.devicetype }}
{% endif %}
{% if 'type' in item %}
TYPE={{ item.type }}
{% endif %}
{% if 'hwaddr' in item %}
HWADDR={{ item.hwaddr }}
{% endif %}
{% if 'gateway' in item %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if 'dns1' in item %}
DNS1={{ item.dns1 }}
{% endif %}
{% if 'dns2' in item %}
DNS2={{ item.dns2 }}
{% endif %}
{% if 'bridge' in item %}
BRIDGE={{ item.bridge }}
{% endif %}
USERCTL=no
{% if 'bondmaster' in item %}
{%   if item.bondmaster == item.device %}
{%     if 'type' not in item %}
TYPE=Bond
{%     endif %}
BONDING_MASTER=yes
BONDING_OPTS="resend_igmp=1 updelay=0 use_carrier=1 miimon=100 downdelay=0 xmit_hash_policy=0 primary_reselect=0 fail_over_mac=0 arp_validate=0 mode=active-backup primary=eno1 lacp_rate=0 arp_interval=0 ad_select=0"
{%   else %}
MASTER={{ item.bondmaster }}
SLAVE=yes
{%   endif %}
{% endif %}
{% if 'ovsbridge' in item %}
OVS_BRIDGE={{ item.ovsbridge }}
{% endif %}
